[Desktop Entry]
Name=manjaro-style
Name[en]=Manjaro Style
Name[tr]=Manjaro Style
X-KDE-PluginInfo-Name=manjaro-style
X-KDE-PluginInfo-Author=tulliana (Demiray Muhterem)
X-KDE-PluginInfo-Email=mdemiray@msn.com
X-KDE-PluginInfo-License=LGPLv3
